{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "12",
          "esmodules": true
        }
      }
    ],
    ["@babel/preset-typescript"]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
}
